spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/salondb
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update          # Auto creates/updates tables
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always              # Runs schema.sql/data.sql if exist

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql: TRACE
    com.salon.backend_salon_managemen: DEBUG